.hatterszin{background-color: #99FF99}
.hatterkep{background-image: url("kepek/hatter1.jpg");background-size: cover;}
.sarga_szoveg{color:yellow;}
.felkover{font-weight: bold;}
.alahuzott{text-decoration: underline;}
.kozepre_igazitott{text-align: center;}
.sorkizart_igazitott{text-align: justify;}
.maxw_350px{max-width: 350px;}
.feher_szoveg{color: white;}
.piros_szoveg{color: red;}